@import "../../styles/variables.scss";

.nav-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    color: $color-text-light;
    text-decoration: none;
    font-weight: 500;
    border-radius: $border-radius;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;

    .nav-icon {
        font-size: 1rem;
    }

    &:hover {
        background-color: $color-secondary;
        transform: translateY(-2px);
    }
}
